/* Css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} */



/* Below here is the global style information */

body {
	line-height: 1.5;
	font-family: 'Arial', sans-serif;
	font-weight:bold;
	font-style: normal;

}

ol, ul {
	list-style: none;
}

section {
	position: relative;
	background-color: ;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}

div {
	display: block;
	width: 100%;
}

img {
	width: 80%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	padding-top:2em;
	padding-bottom:.5em;
}

p {
	padding-bottom: 2em;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
}


/* Below here are the unique classes used throughout the page */

.off {
	display: none;
}


/* Below here are the rules created for specific sections */

/*************** Header styling *************/
header {
	position: fixed;
	background-color: black;
	color: whitesmoke;
	width: 100%;
	z-index: 5;
}


header a {
	color: whitesmoke;
	width: 100%;
}

#logo1 {
  	display: block;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	text-align: center;
  	width: 50px;
  }

.flexRow {
	width: 90vw;
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.centerVert {
	display: flex;
	justify-content: right;
	align-items: center;
}

.spacingGrid {
	width: 400px;
	display: grid;
	grid-template-columns: 3fr 2fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 5%;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: space-between;
	color: whitesmoke;
}

#header1 {
	padding: 0.5rem;
	border-bottom: 2px solid black;
	text-decoration: none;
}

#header2 {
	padding: 0.5rem;
	text-decoration: none;
}

#header3 {
	padding: 0.5rem;
	text-decoration: none;
}


/*************** hero section styling *************/

.bigTitle {
	font-family: arial;
	font-weight: bold;
	font-size: 3em;
	width: 700px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20vh;
	padding-bottom: 100px;
}

/***  subsections  *****/
#detail{
	width:50%;
	margin: 0 auto;
	display:block;
}

.border{
	border-style: solid;
	border-width: 1px;
	border-color: #A9A6A9;
}



/* Below here is the junk information that you maybe don't want but might use later 
header h1, h2 {
	float: left;
}
header h2 {
	padding-top: 18px;
	font-size: 1rem;
	font-style: italic;
}

header h1 img {
	display: block;
	width: 30px;
	padding: 10px;
}

.viewport {
	position: relative;
}


.class {
	display: inline-block;
	position: absolute;
	left: 40%;
	top: 300px;
}

.class img {
	position: fixed;
	z-index: 2;
}



.container_front2 {
	position: relative;
	background-color: palegreen;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}



.class2 {
	
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
}





.forest {
	position: relative;
	width: 600px;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	color: #fff;
}

